body {
    background: white;  
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 300px auto;
}

 .sedans {
    background: orange;
    height: 650px;
    width: 24%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

 .suvs {
    background: teal;
    height: 650px;
    width: 24%;
}

 .luxury {
    background:darkgreen;
    height: 650px;
    width: 24%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.car-logo img {
    width: 90px;
    margin-left: 60px;
    margin-top: 60px;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
}

.card-body h2 {
    color: white;
    font-size: 70px;
    margin-top: 25px;
}

.card-body p {
    color: white;
    margin: 0;
    font-size: 25px;
    opacity: 0.6;

}

.sedans button {
    width: 50%;
    height: 65px;
    margin-left: 75px;
    border-radius: 25px;
    margin-top: 150px;
    color: orange;
    border-color: orange;
    
}

.sedans button:hover {
    border: 3px solid white;
    background: orange;
    color: white;
}

.suvs button {
    width: 50%;
    height: 65px;
    margin-left: 75px;
    border-radius: 25px;
    margin-top: 150px;
    color: teal;
    border-color: teal;
}

.suvs button:hover {
    border: 3px solid white;
    background: teal;
    color: white;
}

.luxury button {
    width: 50%;
    height: 65px;
    margin-left: 75px;
    border-radius: 25px;
    margin-top: 150px;
    color: darkgreen;
    border-color: darkgreen;
}

.luxury button:hover {
    border: 3px solid white;
    background: darkgreen;
    color: white;
}
